.navbar-brand {
  font-weight: bold;
}

.navbar .nav-item .nav-link {
  cursor: pointer;
  transition: all ease-in-out 350ms;
}

.navbar .nav-item .nav-link:hover {
  color: #fff;
  background-color: #23282e;
}
